body{
    background-image: url("../images/nature2.jpg");
    margin-bottom:50%;
    /* margin-left: 20%; */
    /* margin-right: 20%; */
}

h3{
    color: antiquewhite;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    padding-top: -48%;
}

h1{
    color: beige;
}

p{
    color: white;
}