body {
  background-image: url("../images/nature2.jpg");
  margin-bottom: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* margin-left: 20%; */
  /* margin-right: 20%; */
}

h3 {
  color: antiquewhite;
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  padding-top: -48%;
  font-size: 35px;
}

h1 {
  color: beige;
  border-style: groove;
  border-radius: 10px;
  border-color: lightgreen;
  margin: 10px;
  font-size: 40px;
}

p {
  color: white;
  margin: 20px;
  font-size: 22px;
}

h3,
p {
  padding-left: 18%;
  padding-right: 18%;
}
