body {
  background-image: url("../images/nature2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
table {
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  border: 1px solid #ccc;
  border-color: black;
  padding: 10px;
  text-align: center;
}
th {
  color: white;
  background-color: darkgreen;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

caption {
  padding: 10px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgreen;
  font-size: large;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
  border-style: groove;
  border-radius: 10px;
  border-color: lightgreen;
  margin: 10px;
  font-size: 40px;
}

a {
  color: rgb(21, 18, 202);
}
