body{
    /* background-image: url("../images/nature5.jpg"); */
    background-color: aquamarine;
    margin-bottom:50%;
    margin-left: 20%;
    margin-right: 20%;
}
h3{
    color: black;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    padding-top: -48%;
}
h1{
 color: black;
}

img{
    width: auto ;
    height: auto;
    float : left;
    border-radius:30%;
    position: relative;
}

p,li{
    color: black;
    padding: auto;
}
